{% extends 'baseBackoffice.html.twig' %}

{% block content %}
    <div class="container-fluid">

        <div class="row">

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <a href="back-posts">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Articles</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ postsCount }}</div>
                                </a>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-newspaper fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <a href="back-users">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Utilisateurs</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ usersCount }}</div>
                                </a>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <a href="back-comments">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Commentaires</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ commentsCount }}</div>
                                </a>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}