{% extends 'baseBackoffice.html.twig' %}

{% block content %}
    <div class="container-fluid">

        <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

    </div>
{%  endblock %}
