{% extends 'base.html.twig' %}

{% block content %}
    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Matthias LEROUX</h1>
            <h3 class="mb-5">
              <em>Développeur d'application PHP - Symfony</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Plus d'infos</a>
          </div>
          <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Votre partenaire pour votre prochain projet!</h2>
                    <p class="lead mb-5">A votre écoute pour répondre à vos besoins mais également vous conseiller. J'utilise une méthode agile
                        afin de pouvoir m'adapter à vos idées.</p>
                    <a class="btn btn-dark btn-xl js-scroll-trigger" href="#contact">Contactez-moi</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact  -->
    <section class="content-section" id="contact">
        <div class="container text-center">
                <h2>Contact</h2>
        </div>
        <div class="container col-md-8 mt-5 text-center">
            <form class="" action="" method="post">
                    <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="name" id="name" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" name ="email" id="inputEmail" placeholder="Adresse email">
                    </div>
                    <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="subject" id="subject" placeholder="Sujet">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="formControlTextareaMessage" name="message" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-xl">Valider</button>
            </form>
        </div>
    </section>
{% endblock %}
