{% extends 'base.html.twig' %}

{% block content %}
    <body class="bg-gradient-primary">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Commentaire enregistré!</h1>
                                    </div>
                                    <div class="text-center text-success m-5">
                                        Votre commentaire a bien été pris en compte. Il apparaitra dès que l'administrateur l'aura validé.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}