{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <div class="container border col-md-6">
        {% for post in postsList %}
            <p class="border">
                <div>{{ post.title }}</div>
                <div>{{ post.leadParagraph }}</div>
                <div>{{ post.modifiedDate }}</div>
                <a href="/post?id={{ post.id }}">Voir l'article...</a>
            </p>
        {% endfor %}
        </div>
    </section>
{% endblock %}
