{% extends 'base.html.twig' %}

{% block content %}

    <section>
        <div class="container border col-md-6">
        {% for post in postsList %}
            <p class="border">
                <div>{{ post.0.title }}</div>
                <div>{{ post.0.leadParagraph }}</div>
                <div>{{ post.0.modifiedDate }}</div>
                <a href="/post?id={{ post.0.id }}">Voir l'article...</a>
            </p>
        {% endfor %}
        </div>
    </section>
{% endblock %}